/* ==UserStyle==
@name         YouTube Settings Menu Small
@version      0.0.0.1
@namespace    https://userstyles.world/user/Andro-Marian
@description  Makes the menu items smaller in height
@author       Andro Marian
==/UserStyle== */

@-moz-document domain("www.primevideo.com")
{
    #contentContainer.tp-yt-app-drawer[swipe-open]::after {
        display: none;
    }
    
    .ytp-panel-menu {
        display: block;
    }
    
    .ytp-menuitem:not(.ytp-menuitem-with-footer) {
        display: flex;
        align-items: center;
        height: 30px !important;
        border-radius: 4px;
    }
    
    .ytp-menuitem-label {
        flex: 1;
    }
}
